# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/

# Environment
.env
.venv
env/
venv/
ENV/

# Static files
/staticfiles/
staticfiles.json

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Render
.render/

# Logs
email_debug.log